# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CatBulletHell.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity\CatBulletHell\.idea\.idea.CatBulletHell\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
