# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Unity-Demo-Project.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Demo Project\Unity-Demo-Project\.idea\.idea.Unity-Demo-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
